# Getting the 'Last' daily price for Crypto currencies to USD

Quandl Bitfinex

https://data.nasdaq.com/data/BITFINEX-bitfinex

DESCRIPTION
Bitfinex is a trading platform for **Bitcoin**, **Litecoin** and **Darkcoin** with many advanced features including margin trading, exchange and peer to peer margin funding.

In [1]:
# Import required libraries and dependencies
import os
from dotenv import load_dotenv
import quandl
import pandas as pd

In [2]:
# Load .env enviroment variables into the notebook
load_dotenv()
# Get the API key from the environment variable and store as Python variable
quandl_api_key = os.getenv("QUANDL_API_KEY")

In [3]:
# Create `start_date` and `end_date` variables
start_date = '2020-01-01'
end_date = '2021-09-30'

bitcoin = quandl.get("BITFINEX/BTCUSD", start_date=start_date, end_date=end_date)
litecoin = quandl.get("BITFINEX/LTCUSD", start_date=start_date, end_date=end_date)

display(bitcoin.tail())
display(litecoin.tail())

,High,Low,Mid,Last,Bid,Ask,Volume
Date,,,,,,,
2021-09-26,43963.000000,40800.0,43472.5,43476.000000,43472.0,43473.0,5193.024516
2021-09-27,44355.991437,42620.0,43112.5,43111.000000,43110.0,43115.0,4184.936410
2021-09-28,43249.000000,41158.0,41735.0,41730.000000,41733.0,41737.0,5509.991062
2021-09-29,42606.000000,40804.0,41396.5,41400.846149,41394.0,41399.0,5259.994272
2021-09-30,44122.000000,41189.0,43728.0,43729.000000,43726.0,43730.0,5161.574149

              High     Low      Mid    Last     Bid     Ask         Volume
Date
2021-09-26  153.53  142.06  151.925  151.92  151.91  151.94  146201.599172
2021-09-27  155.00  146.64  148.825  148.89  148.79  148.86   83478.893017
2021-09-28  149.17  142.16  142.655  142.59  142.64  142.67   81989.839278
2021-09-29  150.37  139.75  144.085  144.12  144.07  144.10   57196.635319
2021-09-30  154.76  143.49  152.950  152.93  152.93  152.97   79407.366147

In [16]:
# Rename the "Last" column
bitcoin['Price (USD)'] = bitcoin['Last']
litecoin['Price (USD)'] = litecoin['Last']

# Drop unneeded columns
bitcoin_last = bitcoin[['Price (USD)']]
litecoin_last = litecoin[['Price (USD)']]

            Price (USD)
Date
2020-01-01       41.644
2020-01-02       39.600
2020-01-03       42.295
2020-01-04       42.897
2020-01-05       43.240

In [15]:
# Write the dataframes to a .csv file
bitcoin_last.to_csv('../data/bitcoin_price.csv')
litecoin_last.to_csv('../data/litecoin_price.csv')

### Notify the user that price data has been obtained

In [ ]:
print('Price data obtained, this process is COMPLETE!')